.App {
  text-align: center;
  font-family: Arial, sans-serif;
  max-width: 600px;
}

.board-container {
  position: relative;
}
.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  width: fit-content;
  margin: 20px auto;
}

.cell {
  background-color: #f0f0f0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 20px;
  font-size: 60px;
    text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
    width: 100px;
  cursor: pointer;
  transition: background-color 0.2s;
  user-select: none;
  }
  
  .cell.selected {
    background-color: #b3d9ff !important;
}

.board.solution-hovered .cell:not(.hovered) {
  opacity: 0.1;
}

.board.solution-hovered .cell.hovered {
  border: 2px solid #ffd618;
}

.board.solution-hovered .cell.hovered.first {
  border-width: 6px;
  }
  
  .board.solution-hovered .cell.hovered.last {
    border-color: black;
}
.timer h3 {
  display: inline-block;
  padding-right: 8px;
}
button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: monospace;
  cursor: pointer;
}
canvas {
  z-index: -1;
}

@media screen and (max-width: 899px) {
  .App {
    margin: auto;
  }
}
@media screen and (min-width: 900px) {
  
  .solutions {
    position: absolute;
    text-align: start;
    left: 600px;
      top: 80px;
  }
}

.solutions .toggles {
  font-size: 16px;
  font-family: monospace;
  cursor: pointer;
}

.solutions input {
  margin-left: 10px;
  margin-right: 5px;
}
.word-list p {
  font-family: monospace;
  padding: 8px;
  margin: 8px 8px 0 0;
  text-transform: uppercase;
  display: inline-block;
  background: #f0f0f080;
  border: 1px solid #ffd618;
}

.word-list p:hover {
  background: #f0f0f0;
}

.stats {
  font-family: monospace;
}
/* Modal styling */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: auto;
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 15px;
}

.textarea-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

textarea {
  width: 100px;
  height: 40px;
  resize: none;
  overflow: auto;
}

button {
  margin: 5px;
  background: #efeffa;
    border-width: 1px
  }
  
  button:hover {
    background: #ddddf5;
}
  
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                input[type="text"] {
    width: 60px;
    text-align: center;
}
input.invalid {
  color: red;
}
